{% extends 'store/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ material.name }} Details</h2>    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>Basic Information</h5>
                    <p><strong>Quantity:</strong> {{ material.quantity }} {{ material.unit_of_measure }}</p>
                    <p><strong>Unit Price:</strong> NPR {{ material.unit_price }}</p>
                    <p><strong>Total Value:</strong> NPR {{ material.get_total_value }}</p>
                </div>
                <div class="col-md-6">
                    <h5>Vendor & Dates</h5>
                    <p><strong>Vendor:</strong> {{ material.vendor.name|default:"-" }}</p>
                    <p><strong>Expiration Date:</strong> {{ material.expiration_date|date:"Y-m-d"|default:"-" }}</p>
                    <p><strong>Last Updated:</strong> {{ material.updated_at|date:"Y-m-d H:i" }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h5>Description</h5>
                    <p>{{ material.description|default:"No description" }}</p>
                    <h5>Remarks</h5>
                    <p>{{ material.remarks|default:"No remarks" }}</p>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'raw-material-list' %}" class="btn btn-secondary mt-3">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
</div>
{% endblock %}